<header>
  <div id="header_b"
    <div id="center_block">
      <div id="top_block"><img src="/assets/popcorn.png" width="220"></div>
      <div id="bottom_block">Movie Land</div>
      <h1 id="h1_index">Your online movie database</h1>
    </div>
  </div>
</header>
<form id="form_index" action="/results" method="post">
  <input id="input_index" type="text" name="query" placeholder="Type the name of the movie you are looking for.">
  <button id="button_index">Search</button>
  
</form>

